/* =====================================
   CONTAINER
===================================== */

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* =====================================
   SECTIONS
===================================== */

.section{
    padding:
         2rem 0;
}

/* =====================================
   FLEX
===================================== */

.flex{
    display: flex;
}

.flex-center{

    display: flex;

    justify-content: center;

    align-items: center;
}

.flex-between{

    display: flex;

    justify-content: space-between;

    align-items: center;
}

/* =====================================
   GRID GENÉRICO
===================================== */

.grid{

    display: grid;

    gap: 1.5rem;
}

/* =====================================
   GRID DE PRODUTOS
===================================== */

.grid-produtos{

    display: grid;

    grid-template-columns:
        repeat(
            auto-fill,
            minmax(
                280px,
                1fr
            )
        );

    gap: 1.5rem;
}

/* =====================================
   PAGE HEADER
===================================== */

.page-header{

    margin-bottom:
        2rem;
}

/* =====================================
   CENTRALIZAÇÃO VERTICAL
===================================== */

.full-height{

    min-height:
        100vh;
}